/* General desktop styles */
.container-work {
    width: 80%;
    
    margin: 0 auto;
    padding: 20px;
    color: aliceblue;
    background-color: rgb(2, 2, 2);

  }
  
  .title-container {
   color: aliceblue;
    margin-bottom: 30px;
  }
  
  .title-work {
    font-size: 30px;
    
  }
  
  .title-1 {
    font-size: 1.2em;
    color: rgb(243, 240, 240)262;
    margin: 10px;
  }
  
  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color:rgb(26, 33, 48);
  }
  
  .img-1 {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .img-container p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .live-demo, .getqoute {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    color: rgb(99, 189, 214);
    background-color: transparent;
    
    
      box-shadow: 5px 2px 10px #13a8b68a;
   
    cursor: pointer;
  }
  

  
  /* Mobile styles */
  @media (max-width: 768px) {
    .container-work {
        margin-top: 20px;
      width: 100%;
      padding: 10px;
      color: aliceblue;
    }
  
    .title-work{
      font-size: 15px;
      color:rgb(241, 234, 240); ;
      padding: 6px;
    
     
    }
  .title-1{
    color: rgb(255, 255, 255);
  }
    .title-3 {
      font-size: 1em;
      margin-top: 20px;
    }
    .img-container{
      background-color:rgb(26, 33, 48);
        width: 90%;
        margin:0 auto;
       
    }
    .img-container span {
      font-size: 0.9em;
      border-radius: 20px;
      color: black;
      margin-top: -15px;
      margin-bottom: 20px;
    
    }
    .img-1{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        transition:
        width 5s,
        height 5s,
     
        rotate 2s;
    }
    .img-1:hover{
        width: 350px;
        height: 200px;
        rotate: 360deg;
       
    }
  
    .live-demo, .getqoute {
      width: 80%;
      padding: 10px;
      margin: 5px 0;
      border-radius: 20px;
      background-color: transparent;
      color: rgb(99, 189, 214);
      background-color: transparent;
      border: 1px solid rgb(66, 191, 214);
      
        box-shadow: 5px 2px 10px #13a8b68a;
      margin-bottom: 20px;
      
    }
  }
  