
.container-stack{
    background-color: #fefefe;
}
.title-work {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: #2ec1cb;
  }
  
  .stackdetail {
    display: block;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    font-size: 1.2rem;
    color: #504d4d;
  }
  
  .img-main {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .img-main span {
    display: inline-block;
    flex: none;
    margin-right: 20px;
  }
  
  .stackimg {
    width: 250px; /* Adjust the width as needed for desktop */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    transition: transform 0.7s;
  }
  
  .stackimg:hover {
    transform: scale(1.2);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .stackimg {
      width: 100px; /* Adjust the width for smaller screens */
    }
  }
  